.advantages {
  background-color: #f6f8fa;
}

.icons {
  display: flex;
  margin-left: -10px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.icon {
  margin: 70px 35px 30px 80px;
  width: calc(100% / 3 - 115px);
}

.icon h3 {
  font-size: 20px;
  color: #333333;
  margin-bottom: 25px;
}

.icon p {
  margin-bottom: 20px;
}

.icon a {
  display: inline-block;
  padding: 5px 0;
  color: #48af8e;
  position: relative;
}

.icon a:hover {
  color: rgb(34, 34, 180);
}

.icon a:after {
  position: absolute;
  content: "\76";
  top: 8px;
  right: -15px;
  transform: rotate(-90deg);
}

.icon:first-child {
  position: relative;
}

.icon:first-child:after {
  position: absolute;
  content: url("../img/tablet.png");
  top: 0;
  left: -50px;
  transform: translateX(-50%);
}

.icon:nth-child(2) {
  position: relative;
}

.icon:nth-child(2):after {
  position: absolute;
  content: url("../img/finger.png");
  top: 0;
  left: -50px;
  transform: translateX(-50%);
}

.icon:nth-child(3) {
  position: relative;
}

.icon:nth-child(3):after {
  position: absolute;
  content: url("../img/bulb.png");
  top: 0;
  left: -50px;
  transform: translateX(-50%);
}

.icon:nth-child(4) {
  position: relative;
}

.icon:nth-child(4):after {
  position: absolute;
  content: url("../img/gift.png");
  top: 0;
  left: -50px;
  transform: translateX(-50%);
}

.icon:nth-child(5) {
  position: relative;
}

.icon:nth-child(5):after {
  position: absolute;
  content: url("../img/blocknot.png");
  top: 0;
  left: -50px;
  transform: translateX(-50%);
}

.icon:last-child {
  position: relative;
}

.icon:last-child:after {
  position: absolute;
  content: url("../img/tool.png");
  top: 0;
  left: -50px;
  transform: translateX(-50%);
}

@media screen and (max-width: 1280px) {
  .icon {
    width: calc(100% / 2 - 135px);
    margin: 70px 35px 30px 100px;
  }
}

@media screen and (max-width: 940px) {
  .icons {
    text-align: center;
  }
  .icon {
    width: calc(100% - 135px);
  }
}

@media screen and (max-width: 860px) {
  .icon:first-child:after,
  .icon:nth-child(2):after,
  .icon:nth-child(3):after,
  .icon:nth-child(4):after,
  .icon:nth-child(5):after,
  .icon:last-child:after {
    content: none;
  }
}

@media screen and (max-width: 460px) {
  .icon {
    margin: 70px 35px 30px 40px;
    width: calc(100% - 75px);
  }
}
