.data-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1920px;
  width: 100%;
  margin: 0;
}

.data-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  padding: 10px;
  width: calc(100% / 3);
  color: white;
  text-align: center;
}

.data-card:first-child {
  background-color: #1fa87a;
}

.data-card:nth-child(2) {
  background-color: #1d9d73;
}

.data-card:last-child {
  background-color: #1b936c;
}

.data-card h2 {
  color: white;
  font-size: 25px;
  margin-top: 100px;
  margin-bottom: 28px;
  max-width: 485px;
  position: relative;
}

.data-card p {
  color: white;
  line-height: 24px;
  margin-top: 25px;
  max-width: 485px;
}

.data-card h2::before {
  position: absolute;
  top: -80px;
  transform: translateX(-50%);
  left: 50%;
}

.data-card:first-child h2::before {
  content: url(../img/cloud2.png);
}

.data-card:nth-child(2) h2::before {
  content: url(../img/gift2.png);
}

.data-card:last-child h2::before {
  content: url(../img/umbrella.png);
}

@media screen and (max-width: 730px) {
  .data-cards {
    justify-content: center;
    flex-wrap: wrap;
  }
  .data-card {
    width: 100%;
  }
}
