.discover-container {
  margin-top: 60px;
  margin-bottom: 65px;
  display: flex;
  justify-content: space-between;
}

.discover-img-container {
  justify-content: space-between;
  max-width: 460px;
  width: 100%;
  max-height: 530px;
  height: 100%;
}

.discover-text-container {
  flex-direction: column;
  padding: 50px 0 0 145px;
}

.discover-text-container h2 {
  font-size: 35px;
  padding-bottom: 35px;
}

.discover-text-container p {
  padding-bottom: 40px;
}

.discover .links {
  display: flex;
  flex-direction: column;
}

.discover .links li {
  font-size: 20px;
  color: #1d9d73;
  padding-left: 65px;
  margin: 25px 0;
  position: relative;
}

.discover .links li::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.discover .links li:first-child::before {
  content: url(../img/case.png);
}

.discover .links li:nth-child(2)::before {
  content: url(../img/cloud.png);
}

.discover .links li:nth-child(3)::before {
  content: url(../img/gear.png);
}

.discover .links li:last-child::before {
  content: url(../img/key.png);
}

@media screen and (max-width: 1320px) {
  .discover-img-container {
    padding-left: 30px;
    max-width: 260px;
    max-height: 330px;
  }
  .discover-text-container {
    padding: 50px 20px 0 100px;
  }
}

@media screen and (max-width: 860px) {
  .discover .discover-img-container {
    display: none;
  }
  .discover-text-container {
    padding: 30px;
  }

  .discover-text-container h2 {
    text-align: center;
  }

  .discover-text-container p {
    text-align: center;
  }
  .discover .links {
    justify-content: center;
    align-items: center;
  }
  .discover .links li:first-child::before,
  .discover .links li:nth-child(2)::before,
  .discover .links li:nth-child(3)::before,
  .discover .links li:last-child::before {
    content: none;
  }

  .discover .links li {
    padding: 0;
  }
}
