.new-text h2 {
  text-align: center;
  margin: 65px 0 30px 0;
}

.new-text p {
  text-align: center;
  margin: 0;
}

.cards {
  display: flex;
  margin: 0;
  margin-left: -10px;
  align-items: center;
  justify-content: space-between;
}

.card {
  margin: 55px 10px 60px 10px;
  width: calc(100% / 3 - 20px);
}

.cards h3 {
  font-size: 20px;
  color: #63b395;
  margin: 25px 0;
  text-align: center;
}

.cards p {
  text-align: center;
  margin-bottom: 0;
}
