.slider {
  background-image: url("../img/slider.png");
  height: 620px;
  margin: 0 auto;
}

.slider h1 {
  text-align: center;
  color: white;
  font-size: 45px;
  max-width: 420px;
  margin-bottom: 40px;
  z-index: 2;
}

.slider-container {
  margin: 0 auto;
  max-width: 1480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 620px;
  justify-content: center;
  position: relative;
}
.slider-container .buttons {
  z-index: 2;
  position: relative;
}
.slider-buttons button:hover {
  cursor: pointer;
  box-shadow: 3px 0 6px 0 rgba(0, 0, 0, 0.16), -3px 0 6px 0 rgba(0, 0, 0, 0.16);
}

.slider-buttons {
  display: flex;
  justify-content: space-between;
  min-height: 620px;
  max-width: 1480px;
  width: 100%;
  position: absolute;
  margin: 0 auto;
  z-index: 0;
}

.slider-buttons button {
  padding: 0 30px;
  border: none;
  background-color: transparent;
  position: relative;
  width: 10px;
}

.slider-buttons button:first-child::after,
.slider-buttons button:last-child::before {
  content: url("../img/arrow.png");
  position: absolute;
  z-index: 1;
}

.slider-buttons button:first-child::after {
  transform: rotate(180deg);
}

.button {
  padding: 15px 40px;
  border: 1px solid white;
  border-radius: 30px;
  font-size: 16px;
}

.button-slider {
  background-color: transparent;
  color: white;
  margin-left: 5px;
}

.button-slider:hover {
  background-color: #1d9d73;
  border: 1px solid transparent;
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .button {
    margin-bottom: 20px;
  }
}
